body{
widht: 100%;
background-color: white;
}
.navbar{
margin: auto;
display: grid;
grid-template-columns: (max-content, 1fr) minmax(25%, 50%) minmax(max-content, 1fr);
column-gap: 5px;
background-color: white;
align-items: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#spanjs{
display:inline-block;
margin: 4px;
}
.navbar > div > div > a
{
color: black;
}

.imgfr{
height: auto;
width: 100%;
}

.navbardiv{
display: flex;
flex-wrap: nowrap;
justify-content: center;
font-size: 13px; 
}
.icon{
margin-right: 7%;
}
.sym1{
margin-right: 1%;
}
.sym2{
margin-right: 1%;
}
.span{
margin-left: 10%;
margin-right: 22%;

}
.optiongrid{
display: grid;
grid-template-columns: 2fr auto 2fr;
align-items: center;
margin: auto;
margin-left: 7%;
}

@media all and (min-width : 720px) 
{
.ulflex{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 28px;
    padding: 0px 6px;
    height: 100%;

}

}

ul {
list-style: none;
margin-left: 26%;
font-size: 14px;
cursor: pointer;
}
.ulflex{
margin-left: 2%;
margin-top: -2%;
}
.optionA{
display: flex;
justify-content: center;
align-items: center;
}
.optionA:hover{
background-color: rgb(255, 254, 148);

}

h1{
margin-left: 23%;
margin-right: 43%;
font-family:'Trebuchet MS', 'Lucida Sans Unicode',  Arial, sans-serif;
}
.option{
width: 100%;
height: 70%;
background-color: black;
}
#UL2{
margin-left: 10%;
display: flex;
}

.BUT{

color: white;
background-color: transparent;
margin-bottom: 5%;
border: none;
cursor: pointer;

}
.off{
height: 72px;
cursor: pointer;
margin-top: -1%;
background-color: rgb(255, 78, 181);
}

hr{
    margin-top: -1%;
    margin: auto;
    border: 3px dotted black;
     
}
.benefits{
    padding: 2%;
    background-color: rgb(244, 241, 241);
}
.h1{
    font-weight: 600;
    font-size: 19px;
    margin-left: 47%;
    font-family:  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.regist{
    text-align: center;
    margin-top: -1%;
    margin-bottom: 1%;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.advantage{
    text-align: center;
    font-family:  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: rgb(58, 57, 57);
}
.discover{
    margin-left: 44%;
    text-decoration: underline;
    font-family:  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    cursor: pointer;
    font-weight: bold;
}
.social{
    background-color: white;
    text-align: center;
    font-size: 14px;
    color: rgb(70, 69, 69);
    padding: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttonf{
    display: block;
    margin: auto;
    padding: 1.5%;
    width: 30%;
    margin-top: 2%;
    cursor: pointer;
    margin-bottom: 2%;
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: rgba(30, 65, 161, 0.833);
}
.buttong{
    display: block;
    margin: auto;
    padding: 1.5%;
    width: 30%;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 1%;
    border-color: transparent;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.emailform{
    text-align: center;
    font-size: 14px;
    color: rgb(70, 69, 69);
    margin-bottom: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#form{
    text-align: center;
    width: 40%;
    margin: auto;
    
}
.input-box{
    padding: 1%;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(240, 236, 236);
}
.p{
    font-size: 12px;
    margin-top: 5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.gender{
    padding: 1%;
}
.date{
    background-color: rgb(240, 236, 236);
    padding: 2%;
    display: block;
    font-size: 17px;
    font-weight: bold;
    border: transparent;
    font-family:  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pl{
    font-size: 13px;
    margin-top: 5%;
    padding: 1%;
    cursor: pointer;
    background-color: rgb(240, 236, 236);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
a{
    text-decoration: underline;
}
.register{
    color: white;
    background-color: black;
    font-size: 17px;
    padding: 2%;
    cursor: pointer;
    font-weight: bold;
    border: transparent;
}